<div class="provider-docs-menu-title">Preview documentation</div>
<div class="provider-docs-menu-content">
    <ul class="provider-docs-menu-list menu-list">
        <li class="menu-list-link"><a data-path="{{.Index.Path}}" onclick="fetchContent('{{.Index.Path}}')" class="active">{{ if .Index.Title }}{{.Index.Title}}{{else}}{{.Index.Name}}{{end}}</a></li>
        {{ if .Guides }}
        <div class="menu-list-category-wrapper" data-section>
            <li class="menu-list-category">
                <a class="menu-list-category-link">
                    <i class="fa fa-angle-down"></i>
                    <span class="menu-list-category-link-title">Guides</span>
                </a>
                <ul class="menu-list">
                    {{range .Guides}}
                    <li class="menu-list-link">
                        <a data-path="{{.Path}}" onclick="fetchContent('{{.Path}}')">{{ if .Title }}{{.Title}}{{else}}{{.Name}}{{end}}</a>
                    </li>
                    {{end}}
                </ul>
            </li>
        </div>
        {{ end }}
        {{ if .Resources }}
        <div class="menu-list-category-wrapper" data-section>
            <li class="menu-list-category">
                <a class="menu-list-category-link">
                    <i class="fa fa-angle-down"></i>
                    <span class="menu-list-category-link-title">Resources</span>
                </a>
                <ul class="menu-list">
                    {{range .Resources}}
                    <li class="menu-list-link">
                        <a data-path="{{.Path}}" onclick="fetchContent('{{.Path}}')">{{wbr (printf "%s_%s" .ShortProviderName .Name)}}</a>
                    </li>
                    {{end}}
                </ul>
            </li>
        </div>
        {{ end }}
        {{ if .Data }}
        <div class="menu-list-category-wrapper" data-section>
            <li class="menu-list-category">
                <a class="menu-list-category-link">
                    <i class="fa fa-angle-down"></i>
                    <span class="menu-list-category-link-title">Data Sources</span>
                </a>
                <ul class="menu-list">
                    {{range .Data}}
                    <li class="menu-list-link">
                        <a data-path="{{.Path}}" onclick="fetchContent('{{.Path}}')">{{wbr (printf "%s_%s" .ShortProviderName .Name)}}</a>
                    </li>
                    {{end}}
                </ul>
            </li>
        </div>
        {{ end }}
    </ul>
</div>
